<span class="name"> 
  <span class="name"><%= skill.name %></span>
  <span class="delete">Remove</span>
</span> 


  <!-- <ul class="skill-list">
    <li class="skill">
      <span class="name">Ruby</span>
      <span class="delete">Remove</span>
    </li>
    <li class="skill">
      <span class="name">Rails</span>
      <span class="delete">Remove</span>
    </li>
    <li class="skill">
      <span class="name">AJAX</span>
      <span class="delete">Remove</span>
    </li>
    <li class="skill">
      <span class="name">HTML 5</span>
      <span class="delete">Remove</span>
    </li>
    <li class="skill">
      <span class="name">CSS</span>
      <span class="delete">Remove</span>
    </li>
    <li class="skill">
      <span class="name">Javascript</span>
      <span class="delete">Remove</span>
    </li>
  </ul>

  <span class="add-skill">Add Skill</span>
</div> -->