<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My Amazing Fat Client Portfolio Builder</title>
  <link rel="stylesheet" media="screen" href="/assets/main.css">
  <link rel="stylesheet" media="screen" href="/assets/screen/screen.css">
  <link rel="stylesheet" media="print" href="/assets/print/print.css">

</head>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">All Users</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><!--deleted likes-top class-->
        <%=link_to "Like", user_likes_path(session[:user_id]) %> 
      </li>
      <li><%= link_to "Login with Facebook", login_with_facebook_path %></li>
      <li class="welcome-name">
        <% if flash[:notice] %>
          <%=  flash[:notice] %>
        <% end %>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<body>

  <!--deleted "navigation" id section for login_with_facebook_path-->

  <section id="content">

    <div id="user-profile"> </div>

    <div id="projects">     

      <div id="project-list">
      </div>
    
      <div class="clear"></div>
    </div>
  </section>

  <section id="footer">
  </section>

  <!-- Load application scripts at the end of the body, so that we
  don't slow up the loading time of the DOM -->
  <%= javascript_include_tag :application %>


</body>

</html>